@import "tailwindcss";

@theme {
    /* Font-style */

    /* Colors */
    --color-primary: #FF9090;
    --color-primary-hover : #e68282;
    --color-col-white: #F8F9FB;

    --color-border-primary: #565454;
    /* --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #17a2b8;
    --color-light: #f8f9fa;
    --color-dark: #343a40; */

    /* Break-points */

    /* 
    --font-sans: "Quicksand", sans-serif;

  --breakpoint-smallest: 300px;
  --breakpoint-sm: 325px;
  --breakpoint-medium: 650px;
  --breakpoint-md: 768px;
  --breakpoint-middle: 850px;
  --breakpoint-maxmid: 900px;
  --breakpoint-lg: 1024px;
    */
}

@layer components {
    
}

/* 
import { motion } from "motion/react"
*/