@import "tailwindcss";

@theme {
    /* Font-style */

    /* Colors */

    /* Break-points */

    /* 
    --font-sans: "Quicksand", sans-serif;

  --breakpoint-smallest: 300px;
  --breakpoint-sm: 325px;
  --breakpoint-medium: 650px;
  --breakpoint-md: 768px;
  --breakpoint-middle: 850px;
  --breakpoint-maxmid: 900px;
  --breakpoint-lg: 1024px;
    */
}

@layer components {
    
}

/* 
import { motion } from "motion/react"
*/